<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class=".col-lg-2.col-md-12.hidden-sm.hidden-xs">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Profile</h1>
                        </div>
                        <div class="panel-body">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>