extends layout/layout

block content
  .container-fluid
    .row
      .col-xs-12.col-md-4.col-md-offset-4
        .panel.panel-primary
          .panel-heading
            h1.panel-title Sign In
          .panel-body
            form
              .form-group
                label(for='username') Username
                input.form-control(type='text', placeholder='username', name='username' id='username')
              .form-group
                label(for='password') Password
                input.form-control(type='password', placeholder='password', name='password' id='password')
              .form-group
                button.btn.btn-primary(type='submit') Login
              hr
              .form-group
                a.btn.btn-google(href='/auth/google', style='width:100%;') <i class="fa fa-google-plus-square"></i> Sign in with Google
              .form-group
                a.btn.btn-facebook(href='/auth/facebook', style='width:100%') <i class="fa fa-facebook-square"></i> Sign in with facebook