<div class="col-md-6">
    <h2>Edit Group</h2>
    <div class="well">
        <form name="form" novalidate ng-submit="form.$valid && ctrl.submit()">
            <div class="form-group">
                Name
                <input class="form-control" type="text" ng-model="ctrl.group.name" required/>
            </div>
            <div class="form-group">
                Abbreviation
                <input class="form-control" type="text" ng-model="ctrl.group.abbr" required/>
            </div>
            <div class="form-group">
                Type
                <select class="form-control" ng-model="ctrl.group.type"
                        ng-options="type as type for type in ctrl.types" required>
                    <option value="">Select a type</option>
                </select>
            </div>
            <div class="form-group">
                Description
            <textarea ng-model="ctrl.group.description" class="form-control"
                  placeholder="Description"></textarea>
            </div>


            <input type="button" ng-click="ctrl.save()" value="Save" class="btn btn-primary btn-sm">
            <button class="btn btn-warning btn-sm" ui-sref="master.groups.list">Cancel</button>

        </form>
    </div>
</div>