@google-color:           #dd4b39;
@facebook-color:         #4c66a4;

@btn-google-color:               #fff;
@btn-google-bg:                  @google-color;
@btn-google-border:              darken(@google-color, 5%);

@btn-facebook-color:               #fff;
@btn-facebook-bg:                  @facebook-color;
@btn-facebook-border:              darken(@facebook-color, 5%);

.btn-google {
  .button-variant(@btn-google-color; @btn-google-bg; @btn-google-border);
}

.btn-facebook {
  .button-variant(@btn-facebook-color; @btn-facebook-bg; @btn-facebook-border);
}