<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h1 class="panel-title">Sign In</h1></div>
                <div class="panel-body">
                    <form>
                        <div class="form-group"><label for="username">Username</label><input type="text"
                                                                                             placeholder="username"
                                                                                             name="username"
                                                                                             id="username"
                                                                                             class="form-control"></div>
                        <div class="form-group"><label for="password">Password</label><input type="password"
                                                                                             placeholder="password"
                                                                                             name="password"
                                                                                             id="password"
                                                                                             class="form-control"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <hr>
                        <div class="form-group"><a href="/auth/google" style="width:100%;" class="btn btn-google"><i
                                class="fa fa-google-plus-square"></i> Sign in with Google</a></div>
                        <div class="form-group"><a href="/auth/facebook" style="width:100%" class="btn btn-facebook"><i
                                class="fa fa-facebook-square"></i> Sign in with facebook</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>