<div class="container-fluid">
    <h2>{{ctrl.group.name}} Members</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="member in ctrl.group.members">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" ng-src="{{member.user.picture}}" alt="Avatar">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{member.user.displayName}}</h4>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="member.admin" ng-click="ctrl.toggleAdmin()"/> Admin</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <button class="btn btn-primary btn-sm" ui-sref="master.groups.list">Back</button>

</div>
