@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot?nj084s');
    src:url('/fonts/icomoon.eot?#iefixnj084s') format('embedded-opentype'),
    url('/fonts/icomoon.woff?nj084s') format('woff'),
    url('/fonts/icomoon.ttf?nj084s') format('truetype'),
    url('/fonts/icomoon.svg?nj084s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-owly:before {
    content: "\e601";
}
.icon-owl:before {
    content: "\e600";
}

form.ng-submitted .ng-invalid, .ng-touched.ng-invalid {
    border: 1px solid red;
}