doctype html
html(ng-app="hoogotit")
  head
    title= title

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css')

    link(rel='stylesheet', href='/stylesheets/site.min.css')

  body
    block content

    script(src='/javascripts/site.min.js')
    script(src='ng-hoogotit.js')