<div class="col-md-6">
    <h2>Add New Group</h2>
    <div class="well">
        <form name="form" novalidate ng-submit="form.$valid && ctrl.submit()">
            <div class="form-group">
                <input ng-model="ctrl.newGroup.name" class="form-control" placeholder="Name" required>
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="ctrl.newGroup.type"
                        ng-options="type as type for type in ctrl.types" required>
                    <option value="">Select a type</option>
                </select>
            </div>
            <div class="form-group">
                <input ng-model="ctrl.newGroup.abbr" class="form-control" placeholder="Abbr." required>
            </div>
            <div class="form-group">
                <textarea ng-model="ctrl.newGroup.description" class="form-control"
                          placeholder="Description"></textarea>
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Add</button>
            <button class="btn btn-warning btn-sm" ui-sref="master.groups.list">Cancel</button>
        </form>
    </div>
</div>