<div class="col-md-12">
    <h2>Your Groups <a class="btn btn-primary btn-sm" ui-sref="master.groups.add">Add</a></h2>
    <div class="container-fluid">
        <div class="col-md-4" ng-repeat="group in ctrl.groups">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{group.name}} {{group.groupMember.admin ? "(Admin)" : ""}}
                        <span class="badge pull-right" ng-if="group.abbr">{{group.abbr}}</span>
                    </h3>

                </div>
                <div class="panel-body">
                    <p>
                        <em>{{group.type}}</em>
                    </p>
                    <p>
                        {{group.description ? group.description : "No description" }}
                    </p>
                    <button class="btn btn-primary" ui-sref="master.groups.members({id: group._id})">View Members
                    </button>
                    <button class="btn btn-primary" ui-sref="master.events.add({groupId: group._id})">Create Event
                    </button>
                </div>
                <div class="panel-footer" ng-hide="group.confirmDelete">
                    <a class="btn btn-primary btn-sm" ui-sref="master.groups.edit({id: group._id})">
                        Edit
                        <i class="fa fa-pencil"></i>
                    </a>
                    <span class="pull-right">
                        <a class="btn btn-danger btn-sm" ng-click="group.confirmDelete = true">
                            Delete
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
                <div class="panel-footer text-center" ng-show="group.confirmDelete">
                    <div class="clearfix">
                        <div class="bg-danger">
                            <span>You sure?</span>
                            <a class="btn btn-danger btn-sm" ng-click="ctrl.delete(group._id)">Yes</a>
                            <a class="btn btn-warning btn-sm" ng-click="group.confirmDelete = false">No</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>