<div class="col-md-6">
    <h2>Create New Event / Sign Up</h2>
    <div class="well">
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="eventName">Event/Sign Up Name</label>
                    <input ng-model="ctrl.newEvent.name" type="text" class="form-control" id="eventName" placeholder="Event/Sign Up Name">
                </div>
                <div class="form-group">
                    <label for="eventGroup">Select Group</label>
                    <select class="form-control" id="eventGroup" ng-model="ctrl.newEvent.groupId"
                            ng-options="group.name for group in ctrl.userGroups track by group._id">
                    </select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="ctrl.newEvent.private"> Private
                    </label>
                </div>
                <button type="submit" class="btn btn-default btn-sm">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary btn-sm" onclick="javascript: history.back();">Back</button>
    </div>
</div>



