<div class="navbar navbar-default" role='navigation'>
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type='button' data-toggle='collapse' data-target='#hoonav'>
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref='master.dashboard'>H<i class="icon-owl"></i>gotit</a>
        </div>
        <div class="navbar-collapse collapse" id='hoonav'>
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref='master.profile'>Profile</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref='master.groups.list'>Manage Groups</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref='master.tasks.overview'>Manage Tasks</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref='master.events.overview'>Manage Events</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-click="ctrl.logout()">Logout</a>
                </li>
            </ul>
            <p class="navbar-text navbar-right">{{ctrl.user.email}}</p>
        </div>
    </div>
</div>
<div ui-view></div>